.vscode

__pycache__

*.pt

*.bin

job

tmp

tmp*

output

*.bin

stat/mean

stat/std

try.ipynb

run_jupyter.sh

# pixi environments
.pixi/*
!.pixi/config.toml

.DS_Store

# local env files
.env
.env.*
!.env.example
